# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Archivos de entorno virtual
venv/
.env

# Configuración de editores
.idea/
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

#Base de datos
Alquimia.db