<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pagina Web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="golosina_page.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<header>
		 <div class="container">
            <p class="logo">D´NEISER</p>
            <nav>
                <a href="#chocolates">chocolateria</a>
                <a href="#snacks">snacks</a>
                <a href="#galletas">galletas</a>
				<a href="#">pedidos</a>
            </nav>
        </div>
		
		
		<div class="principal">
		
		<h1 > Conoce nuestros productos </h1>
		<h2> Intensifica tu belleza </h2>
		</div>
	
		</header>
		<section id="chocolates">
		<h1>CHOCOLATES</h1>
		 <div class="container">
		 
        <div class="item 1" > 
		<img  src="choco1.jpg" width="100"/> 
		</div>
		
        <div class="item 2">
		<img  src="choco2.jpg"width="100"/> 
		</div>
		
        <div class="item 3">
		<img src="choco3.jpg"width="100"/>
		</div>
        <div class="item 4">
		<img src="choco4.jpg" width="100"/>
		</div>
		</div>
		</section>
		
		<section id="snacks ">
		<h1> SNACKS </h1>
		 <div class="container">
		 
        <div class="item 1" > 
		<img  src="snacks1.jpg" width="100"/> 
		</div>
		
        <div class="item 2">
		<img  src="snacks2.jpg"width="100"/> 
		</div>
		
        <div class="item 3">
		<img src="snacks3.jpg"width="100"/>
		</div>
        <div class="item 4">
		<img src="snacks4.jpg" width="100"/>
		</div>
		</div>
		</section>
		
		<section id="galletas ">
		<h1> carteras </h1>
		 <div class="container">
		 
        <div class="item 1" > 
		<img  src="cartera3.jpg" width="100"/> 
		</div>
		
        <div class="item 2">
		<img  src="cartera2.jpg"width="100"/> 
		</div>
		
        <div class="item 3">
		<img src="cartera3.jpg"width="100"/>
		</div>
        <div class="item 4">
		<img src="cartera4.jpg" width="100"/>
		</div>
		</div>
		</section>
		<button>
                       <a href="plantilla.html"><input type=button>VER</input></a>
					   </button>
		
        
        <script src="" async defer></script>
    </body>
</html>